<div>
  <img src="{{binaryUrl}}" alt="{{alt}}" class="image" (click)="setOpen(true)"/>
  <!-- TODO: Need to a add a means of seting open=false from the overlay-->
  <pub-image-overlay *ngIf="open" src="{{binaryUrl}}" alt="{{alt}}" ></pub-image-overlay>
</div>