<div class="wrapper">
  <table class="table">
    <thead>
      <tr>
        <th class="cell">Key</th>
        <th class="cell">Value</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pair of pairs" class="row">
        <td class="cell">{{pair.key}}</td>
        <td class="cell">{{pair.value}}</td>
      </tr>
    </tbody>
  </table>
</div>