.wrapper {
  width: 100%;
  overflow-x: auto;
}

.table {
  /* font-size: 0.75em; */
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  border: 1px solid #d1d2d1;
  margin-bottom: 4em;
}
.row {
  background-color: white;
}
.row:nth-child(even) {
  background-color: #efefef;
}

.cell {
  padding: 4px 8px;
  border-left: 1px solid #d1d2d1;
  border-bottom: 1px solid #d1d2d1;
}
.cell:first-child {
  border-left: none;
}

.row:last-child .cell {
  border-bottom: 0;
}
