<app-site-layout>
  <div class="screen">
    <input type="text" class="search" placeholder="Search Publications" />
    <div class="pubWrapper">
      <app-panel title="Publications">
        <app-panel-list>
          <a *ngFor="let pub of publications" href="/{{pub.publicationId}}" class="pubListItem">
            <div>{{pub.title}}</div>
            <div>
              <small>{{pub.lastPublishDate.toLocaleDateString()}}</small>
            </div>
          </a>
        </app-panel-list>
      </app-panel>
    </div>
  </div>
</app-site-layout>