.screen {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 1em;
}

.search {
  box-sizing: border-box;
  -webkit-appearance: none;
  width: 100%;
  max-width: 700px;
  display: block;
  padding: 0.45em 0.6em;
  font-size: 1em;
  border: 1px solid #efefef;
  border-radius: 6px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.35);
  background-color: #eaeaea;
  border-color: rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 0.85);
  margin-bottom: 1.25em;
}

.search::-webkit-input-placeholder,
.search::-moz-placeholder,
.search:-ms-input-placeholder,
.search:-moz-placeholder {
  color: #838383;
}

.pubWrapper {
  width: 100%;
  max-width: 700px;
}

.pubListItem {
  padding: 1.3em;
  text-decoration: none;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.85);
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}
.pubListItem:hover {
  background: lightyellow;
  /* color: rgba(0, 0, 0, 0.85) */
}

.pubListItem:last-child {
  border-bottom: none;
}
