.Layout {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100vh;
  max-height: 100vh;
}
.Layout .header {
  padding: 1em;
  background-color: black;
  color: white;
}
.Layout .brand {
  margin: 0;
  font-size: 1.25em;
}
.Layout .brand a {
  color: white;
  text-decoration: none;
}
.Layout .main {
  flex-grow: 1;
  position: relative;
}
.Layout .footer {
  padding: 1em;
  background-color: #333;
  color: white;
}
