<div class="component">
    <button class="trigger" (click)="handleToggle">
      {{trigger}}
    </button>
      <button *ngIf="open" class="backdrop" tabIndex="-1" (click)="handleClose"></button>
      <div *ngIf="open" className={containerStyles} (click)="handleClose">
        <ng-content></ng-content>
      </div>
</div>