.component {
  box-sizing: border-box;
  position: relative;
}

.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.25);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.trigger {
  box-sizing: border-box;
  position: relative;
  z-index: 10;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;
  display: block;
}

/* HACK: fixes issue with buttons no filling available space */
.trigger > button {
  display: block;
}

.container {
  position: absolute;
  z-index: 10;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
.down {
  margin-top: 9px;
}
.up {
  margin-bottom: 9px;
  bottom: 100%;
}
.left {
  left: 0;
}
.right {
  right: 0;
}
