.toolbar {
  box-sizing: border-box;
  position: absolute;
  top: 6px;
  right: 6px;
  display: inline-flex;
  z-index: 10;
}

.notesButton {
  box-sizing: border-box;
  background-color: #efefef;
  border: 1px solid #d1d2d1;
  border-radius: 2px;
  padding: 5px;
  margin-right: 6px;
  color: blue;
}