.list {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  background-color: #f1f1f1;
}

.listItem {
  padding: 1.3em;
  text-decoration: none;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.85);
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}
.listItem:hover {
  background: lightyellow;
  /* color: rgba(0, 0, 0, 0.85) */
}

.listItem:last-child {
  border-bottom: none;
}
