<div class="component">
  <h1 class="title">{{publication.title}}</h1>

  <h2 class="sectionTitle">Attributes</h2>
  <app-key-value-table [pairs]="getAttributePairs()"></app-key-value-table>

  <h2 class="sectionTitle">Metadata</h2>
  <app-key-value-table [pairs]="getMetadataPairs()"></app-key-value-table>
</div>
