<div class="component">
  <div class="header">
  <div class="title">My Notes</div>
  <button (click)="handleRefreshClick()">Refresh</button>
  </div>
  <div class="notesList">
    <!-- {notes.length > 0 && <div class="notesList">{notesItems}</div>} -->
    <!-- {notes.length === 0 && <div class="noNotes">No topic notes</div>} -->


    <div *ngIf="notes.length > 0" class="notesList">notesItems</div>
    <div *ngIf="notes.length === 0" class="noNotes">No topic notes</div>

  </div>
</div >