.component {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: #555;
  font-weight: 500;
  font-variant: small-caps;
}

// .notesList {
// }

.notesItem {
  background: white;
  padding: 1em;
  border: 1px solid #dedede;
  margin: 1em;
}

.itemHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: .5em 0;
}

.itemDate {
  font-weight: 400;
  font-size: .65em;
  color: #555;
  flex-grow: 1;
}

.itemActions {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.itemTitle {
  font-size: 1em;
  font-weight: 500;
  margin-bottom: .75em;
}

.itemBody {
  font-size: .75em;
  font-weight: 300;
  margin-bottom: .75em;
}

.itemLink {
  font-size: .75em;
  font-weight: 500; 
  text-decoration: none;
  color: #3687e2;
}

.noNotes {
  padding: 3em 0;
  text-align: center;
  font-weight: 600;
  color: #888;
}
