/* .component {

} */

.title {
  color: #555;
  font-weight: 500;
  font-variant: small-caps;
}

.nav {
  padding: 1em 0;
  margin: 0;
}

.list {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

.listItem {
  line-height: 1.25;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.navLink {
  padding: 0.5em 0;
  text-decoration: none;
  color: #333;
  font-weight: 300;
  font-size: 13px;
  width: 100%;
}

.navLink:hover {
  color: orange;
}

.activeLink {
  cursor: default;
  padding: 0.5em 0;
  text-decoration: none;
  color: #3687e2;
  font-weight: 300;
  font-size: 13px;
  width: 100%;
  font-weight: 500;
}
