<div class="component">
  <div class="title">{{publication?.title || 'Loading...'}}</div>
  <nav class="nav">
    <ul class="list">
      <li *ngFor="let item of toc" class="listItem treenode">
        <div class="l">
          <div class="hl"></div>
        </div>
          <a 
          href={{item.url}}
          class="navLink"
          [class.activeLink]="activeLink"
          >{{item.title}}</a>
        <!-- <Link class={activeLink ? styles.activeLink : styles.navLink } to={target}>{title}</Link> -->
      </li>
    </ul>
  </nav>
</div>