<div class="component">
  <nav class="menu">
    <a href="/" class="home">Home</a>
    <div class="tabs">
      <div
        class="menuItem"
        [class.active]="menuTab === MenuEnum.TOC"
        (click)="toggle(MenuEnum.TOC)"
      >
        <span class="menuLabel">TOC</span>
      </div>
      <div
        class="menuItem"
        [class.active]="menuTab === MenuEnum.SEARCH"
        (click)="toggle(MenuEnum.SEARCH)"
      >
        <span class="menuLabel">SEARCH</span>
      </div>
      <div
        class="menuItem"
        [class.active]="menuTab === MenuEnum.TOOLS"
        (click)="toggle(MenuEnum.TOOLS)"
      >
        <span class="menuLabel">TOOLS</span>
      </div>
      <div
        class="menuItem"
        [class.active]="menuTab === MenuEnum.NOTES"
        (click)="toggle(MenuEnum.NOTES)"
      >
        <span class="menuLabel">MY NOTES</span>
      </div>
    </div>
    <div class="other">
      <app-user-dropdown></app-user-dropdown>
    </div>
  </nav>
  <nav *ngIf="menuTab !== MenuEnum.NONE" [ngSwitch]="menuTab" class="nav">
    <pub-toc-panel *ngSwitchCase="MenuEnum.TOC" [publication]="publication" [toc]="toc"></pub-toc-panel>
    <pub-search-panel *ngSwitchCase="MenuEnum.SEARCH"></pub-search-panel>
    <pub-tools-panel *ngSwitchCase="MenuEnum.TOOLS"></pub-tools-panel>
    <pub-notes-panel *ngSwitchCase="MenuEnum.NOTES"></pub-notes-panel>
  </nav>
  <div
    *ngIf="menuTab !== MenuEnum.NONE"
    class="divider"
    (click)="setMenuTab(MenuEnum.NONE)"
  ></div>
  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
