.component {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.menu {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-sizing: border-box;
  width: 45px;
  flex-shrink: 0;
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.35);
  box-shadow: inset -1px 0 3px rgba(0, 0, 0, 0.25);
  text-align: center;
  height: 100%;
  overflow: visible;
  z-index:10;
}
.tabs {
  padding-left: 9px;
  font-size: 12px;
  overflow: hidden;
}
.menuItem {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: -2px;
  margin-bottom: 1px;
  padding: 20px 0;
  background-color: #dfdfdf;
  border-left: 1px solid rgba(0, 0, 0, 0.35);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: inset -2px 0 1px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.active {
  background-color: #fff;
  border-left: 2px solid orange;
  box-shadow: none;
  cursor: default;
}
.menuLabel {
  display: block;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #555;
  font-weight: 500;
}

.home {
  display: block;
  margin-bottom: 20px;
  padding: 2em 0;
  border-top: 1px solid rgba(0, 0, 0, 0.35);
  background-color: rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.35);
  /* box-shadow: inset -1px 0 3px rgba(0, 0, 0, 0.55); */
  font-size: 10px;
  line-height: 0;
  font-weight: 500;
  color: white;
  text-decoration: none;
}

.other {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: left;
}

.nav {
  width: 230px;
  flex-shrink: 0;
  overflow-y: auto;
  padding: 2em 1em 1em;
  position: relative;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 35%,
    rgba(245, 245, 245, 1) 100%
  );
  border-right: 1px solid #dcdcdc;
}
.divider {
  width: 5px;
  flex-shrink: 0;
  background-color: #d8d8d8;
  border-right: 1px solid #dcdcdc;
  cursor: ew-resize;
}
.divider:hover {
  background-color: #3687e299;
}
.content {
  width: 100%;
  position: relative;
  overflow-y: auto;
  padding: 36px;
  background-color: #f5f5f5;
}
