.dita-content {
  all: inherit;
}
.dita-content {
  width: 100%;
  position: relative;
  font-family: sans-serif;
  box-sizing: border-box;
  color: #333;
  line-height: 1.75;
  border: none;
  overflow: hidden;
}

.dita-content a {
  text-decoration: none;
  display: inline-block;
  margin: 0 0 0 5px;
  line-height: 1.25;
  border-bottom: 1px solid #3687e2;
  color:  #3687e2;
}

.dita-content .title {
  margin: 1em 0;
  padding-bottom: 1em;
  border-bottom: 1px solid #efefef;
}

.dita-content .body {
  margin-bottom: 20px;
}

.dita-content .p {
  margin: 1em 0;
}

.dita-content .tablenoborder {
  width: 100%;
  overflow: auto;
  border: 1px solid #efefef;
  margin: 1em 0;
}

.dita-content .table {
  width: 100%;
}
.dita-content .table th,
.dita-content .table td {
  width: 100%;
  border: 1px solid #efefef;
}

.dita-content .table th {
  font-weight: 600;
  background-color: #f8f8f8;
}

.dita-content .fig {
  text-align: center;
  padding: 0 1em;
}
.dita-content .image {
  display:block;
  width: 100%;
  margin: 1em 0;
}

.dita-content .entry {
  margin: 0;
  padding: 0.25em 1em;
}

.dita-content .entry .p {
  margin: 0;
}

.dita-content .codeblock {
  background-color: #efefef;
  padding: 20px;
  border-radius: 6px;
  margin: 2.25em 0;
  overflow: auto;
}
.dita-content .note {
  padding: 0.75em 1em;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  margin: 2.25em 1.5em;
  font-size: 0.825em;
}

.dita-content .note .p {
  margin: 1em 0;
  line-height: 1.35;
}

.dita-content .note.note {
  background-color: lightyellow;
  color: rgba(0, 0, 0, 0.65);
}

.dita-content .note.important {
  background-color: lightcyan ;
  color: rgba(0, 0, 0, 0.65);
}

.dita-content .note .notetitle,
.dita-content .note .importanttitle {
  font-weight: 700;
  text-transform: uppercase;
}

.dita-content .related-links {
  padding: 20px;
  border-top: 1px solid #efefef;
}

.dita-content .related-links .ullinks {
  list-style-type: none;
  padding: 0;
}

.dita-content .related-links .ullinks .ulchildlink {
  padding: 4px 0;
  margin: 0;
}

.dita-content .related-links .ullinks a {
  text-decoration: none;
  color: #3687e2;
  font-weight: 300;
  line-height: 1.35;
  /* display: block; */
}
