.component {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
}

.title {
  color: #555;
  font-weight: 500;
  font-variant: small-caps;
}

.search {
  padding: 1em 0 .35em;
  margin: 0;
}

.searchForm {
  display:flex;
  flex-direction: row;
  align-items: stretch;
}

.searchInput {
  width: 100;
  flex-grow: 1;
  /* margin-right: .35em; */
  padding: 6px;
  background: white;
  font-size: 13px;
  border: 1px solid #bbb;
  border-radius: 3px;
  /* box-shadow: inset 0 0 3px rgba(0,0,0,0.15); */
}
/* .searchSubmit {
  flex-shrink: 0;
  border-radius: 3px;
  border: 1px solid #bbb;
  padding: 0 8px;
  background-color: rgba(0, 0, 0, 0.05);
  color:#555;
} */

.results {
  flex-grow: 1;
  margin: 0;
  padding: 3px 9px;
  border: 1px solid #bbb;
  background-color: white;
  border-radius: 3px;
  /* box-shadow: inset 0 0 3px rgba(0,0,0,0.15); */
  overflow-y: scroll;

}

.resultsItem {
  display: block;
  line-height: 1.25;
  padding: 0.5em 0;
  text-decoration: none;
  color: #333;
  font-weight: 300;
  font-size: 13px;
  width: 100%;
}
