<div class="component">
  <div class="title">Search</div>
  <div class="search">
    <form (submit)="handleSubmit($event)">
      <div class="searchForm">
        <input
          type="search"
          class="searchInput"
          placeholder="Search Topics"
          [value]="query"
          (input)="handleInput($event)"
        />
      </div>
    </form>
  </div>
  <div class="results">
    <a class="resultsItem" href="#">
      <span>Result title</span>
    </a>
    <span class="resultsItem">
      <em>No results to display</em>
    </span>
  </div>
</div>