.component {
  box-sizing: border-box;
  width: 100%;
  background-color: #eaeaea;
  padding: 0.75em;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
}

.heading {
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-variant: small-caps;
  margin-bottom: 0.75em;
  padding: 0 0.6em;
}
