<div class="component" (click)="handleClose()">
  <img src="{{src}}" alt="{{alt}}" class="image" />
  <div class="tools">
    <button class="saver" (click)="handleSaverClick($event)">Download</button>
    <button class="closer" (click)="handleClose()">Close</button>
  </div>
</div>