.SiteLayout {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100vh;
  max-height: 100vh;
}
.header {
  padding: 1em;
  background-color: black;
  color: white;
}
/* .SiteLayout .brand {
    margin: 0;
    font-size: 1.25em;
  }
  .Layout .brand a{
    color:white;
    text-decoration: none;
  } */
.main {
  flex-grow: 1;
  position: relative;
}
.footer {
  padding: 1em;
  background-color: #333;
  color: white;
}
