.component {
  width: 26px;
  height: 26px;
  border: 3px solid white;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

.inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.45);
  border-radius: 3px;
  background-color: orange;
}

// .image {
// }

.initials {
  color: black;
  font-weight: 600;
}
