.screen {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 1em;
}
.wrapper {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}
