
    <app-site-layout>
      <div class="screen">
        <div class="wrapper">
          <app-panel title="Registration">
            <app-panel-content>
              <app-form>
                <app-form-group>
                  <app-form-label htmlFor="login_name">Name</app-form-label>
                  <app-form-input-text
                    type="text"
                    id="login_name"
                    name="name"
                    (change)="handleNameChange"
                    placeholder="Firstan Lasticus"
                    required="true"
                    autofocus="true"
                  ></app-form-input-text>
                </app-form-group>
                <app-form-group>
                  <app-form-label htmlFor="login_email">Email</app-form-label>
                  <app-form-input-text
                    id="login_email"
                    name="email"
                    type="email"
                    (change)="handleEmailChange"
                    placeholder="flasticus@example.org"
                    required="true"
                  ></app-form-input-text>
                </app-form-group>
                <app-form-group>
                  <app-form-label htmlFor="login_secret">Password</app-form-label>
                  <app-form-input-text
                    id="login_secret"
                    name="secret"
                    type="password"
                    (change)="handleSecretChange"
                    placeholder="5up3R$ecR37"
                    required="true"
                  ></app-form-input-text>
                </app-form-group>

                <app-form-group>
                  <app-form-button type="submit">Register</app-form-button>
                </app-form-group>
              </app-form>
            </app-panel-content>
          </app-panel>
        </div>
      </div>
    </app-site-layout>