.component {
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  max-width: 1000px;
  margin: 0 auto;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

.topicBody {
  box-sizing: border-box;
  position: relative;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #d1d2d1;
  padding: 2em;
}


.actionsButton {
  box-sizing: border-box;
  display: flex;
  flex-direction:  column;
  align-items: center;
  justify-content: space-around;
  height: 30px;
  width: 30px;
  background-color: #efefef;
  border: 1px solid #d1d2d1;
  border-radius: 2px;
  padding: 5px;
}

.bar {
  background-color: #c1c2c1;
  width: 80%;
  height: 1px;
  display:block;
}