<div class="component">
  <pub-topic-toolbar>
    <!-- todo: add click action for shwoing notes component-->
    <button className="notesButton">Notes</button> 
    <!-- <TopicActions right /> -->
  </pub-topic-toolbar>
  <div class="topicBody">
    <pub-dita-content [dita]="body"></pub-dita-content>
  </div>
</div>
