<header class="header">
    <div class="container">
      <div class="branding" (click)="handleBrandClick">
        <img src="/assets/logo.svg" alt="Logo" class="logo"/>
      </div>
      <nav class="nav">
        <div class="navLeft">

        </div>
        <div class="navRight">
          <!-- <UserDropdown right/> -->
          <app-user-dropdown></app-user-dropdown>
        </div>
      </nav>
    </div>
  </header>