.header {
    box-sizing: border-box;
    width: 100%;
    padding: 0 1em;
  }
  
  .container {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .branding {
    display: block;
    font-size: 1.25em;
    font-weight: 600;
    padding: .75em 0;
    color: #333;
    text-decoration: none;
    cursor: pointer;
  }
  
  .logo {
    height: 27px;
    display: block;
  }
  
  /* .nav {
  
  }
  
  .navLeft {
  
  }
  
  .navRight {
  
  } */
  