<app-site-layout>
  <div class="screen">
    <div class="wrapper">
      <app-panel title="Login">
        <app-panel-content>
          <app-form>
            <app-form-group>
              <app-form-label htmlFor="login_email">Username</app-form-label>
              <app-form-input-text
                id="login_email"
                name="email"
                type="email"
                value="{email}"
                (change)="(handleEmailChange)"
                placeholder="flasticus@example.org"
                required="true"
                autofocus="true"
              ></app-form-input-text>
            </app-form-group>

            <app-form-group>
              <app-form-label htmlFor="login_secret">Password</app-form-label>
              <app-form-input-text
                id="login_secret"
                name="secret"
                type="password"
                value="{secret}"
                (change)="(handleSecretChange)"
                placeholder="$up3R$ecR37"
                required="true"
              ></app-form-input-text>
            </app-form-group>

            <app-form-group>
              <app-form-button type="submit">Login</app-form-button>
            </app-form-group>
          </app-form>
        </app-panel-content>
      </app-panel>
    </div>
  </div>
</app-site-layout>
