<app-dropdown trigger="">
<app-popmenu>
      <app-popmenu-link *ngIf="!isAuthenticated" to="/login">Login</app-popmenu-link>
      <app-popmenu-link *ngIf="!isAuthenticated"  to="/register">Register</app-popmenu-link>
      <app-popmenu-link *ngIf="isAuthenticated"  to="#">Profile</app-popmenu-link>
      <app-popmenu-link *ngIf="isAuthenticated" to="#">Settings</app-popmenu-link>
      <app-popmenu-separator *ngIf="isAuthenticated"></app-popmenu-separator>
      <app-popmenu-link *ngIf="isAuthenticated" to="#">Logout</app-popmenu-link>
</app-popmenu>
</app-dropdown>